*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", "sans-serif";
}

:root{
    --almost-white: #fffdfa;
    --dark-blue: #00001A;
    --gunmetal: #5E607A;
    --vermillion: #F15D51;
    --yellow: #E9AA52;
    --silver: #C5C6CE;
}

body{
    padding: 1.75rem 1rem;
    background-color: var(--almost-white);
}

body.menu-open::before {
    content: "";
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 26, 0.3);
    top: 0;
    left: 0;
}

.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-mobile button{
    border: none;
    background: none;
    width: fit-content;
}

.header-mobile nav{
    position: fixed;
    background-color: var(--almost-white);
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;

    display: flex; /* vou me jogar de um precipício bem alto */
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}

.header-mobile nav button {
    align-self: flex-end;
    margin-bottom: 4rem;
}

.header-mobile nav a{
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.primeira-seção{
    margin-bottom: 4rem;
}

.primeira-seção img{
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-seção h1{
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.primeira-seção p{
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}

.primeira-seção button{
    padding: 0.75rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--almost-white);
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.275rem;
    line-height: 1.5rem;
}

.segunda-seção{
    background-color: var(--dark-blue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.25rem;
}

.segunda-seção h2{
    color: var(--yellow);
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2.2rem;
}

.segunda-seção h3{
    color: var(--almost-white);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.segunda-seção p{
    color: var(--silver);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

/* EU ME RECUSO A FAZER DO SEU JEITO MARCELO JUROS SIMPLES (obs: isso é a classe bb, mb e pb do video q ele vai mudar no futuro pqqqqqq)*/

.s2d{
    border-bottom: 1px solid var(--gunmetal);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}

.terceira-seção > div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.terceira-seção img{
    max-width: 6.25rem;

}

.terceira-seção strong{
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}

.terceira-seção h2{
    color: var(--dark-blue);
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;
    margin-block: 0.6rem;
}

.terceira-seção p{
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
}